---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import { format, parseISO } from 'date-fns';
import readingTime from 'reading-time';

export async function getStaticPaths() {
    const postsEntries = await getCollection('posts');
    return postsEntries.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<MainLayout
    title={post.data.title}
    description={post.data.description}
>
    <article
        class='flex flex-col items-start justify-center w-full max-w-2xl mx-auto mb-16'
    >
        <h1
            class='mb-4 text-3xl font-bold tracking-tight text-black md:text-5xl dark:text-white'
            transition:name='heading'
        >
            {post.data.title}
        </h1>
        <div
            class='flex flex-col items-start justify-between w-full mt-2 md:flex-row md:items-center'
        >
            <div class='flex items-center'>
                <p class='ml-2 text-sm text-gray-700 dark:text-gray-300'>
                    {'Jered Higgins / '}
                    {
                        format(
                            parseISO(post.data.date.toISOString()),
                            'MMMM dd, yyyy'
                        )
                    }
                </p>
            </div>
            <p
                class='mt-2 text-sm text-gray-600 dark:text-gray-400 min-w-32 md:mt-0'
            >
                {readingTime(post.body).text}
                {`🕒`}
            </p>
        </div>
        <div class='w-full mt-4 prose dark:prose-dark max-w-none break-words'>
            <h2 class='text-orange-500 dark:text-orange-300'
            >
                Description:
            </h2>
            <p
                class='text-orange-500 dark:text-orange-300 pb-8'
            >
                {post.data.description}
            </p>
            <Content />
        </div>
    </article>
</MainLayout>
